---
import { getCollection, getEntry } from 'astro:content';
import { Image } from 'astro:assets';
import FormattedDate from '@components/FormattedDate.astro';
import Anchor from '@components/Anchor.astro';
//import Icon from '@components/Icon.astro';
//import arrow-right from '@icons/arrow-right.svg?raw';

const posts = (await getCollection('showcase')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<div class="fam-gallery" aria-label="Gallery of my services, including , , and ">
  <h3 class="visuallyhidden">FAM Gallery</h3>
  <div class="marquee" role="marquee">
    {
      posts.map(post => (
        <article class="item" aria-hidden="true" tabindex="-1">
          <div class="background">
            <figure class="media album-art album-art-2" aria-hidden="true">
              {post.data.heroImage && (
                <Image width={720} height={360} src={post.data.heroImage} loading="eager" decoding="async" fetchpriority="auto" alt={post.data.description} />
              )}
            </figure>
            <div class="overlay">
              <Anchor role="button" href={`/showcase/${post.id}/`}>Watch now</Anchor>
            </div>
          </div>
          <div class="copy">
            <h2 class="headline">
              <Anchor href={`/showcase/${post.id}/`}>{post.data.title}</Anchor>
            </h2>
          </div>
        </article>
      ))
    }
  </div>
</div>

<style>
  div.fam-gallery {
    position: relative;
    display: grid;
    padding-top: 80px;
    padding-bottom: 75px;
    & > article.item {
      display: flex;
      position: relative;
      aspect-ratio: 2/1;
      overflow: hidden;
      background-color: var(--color-surface-primary);
      border-radius: 32px;
      & > figure.media {
        position: relative;
        z-index: 0;
        width: 100%;
        overflow: hidden;
        filter: grayscale(1);
        transition: scale .5s cubic-bezier(.22, .61, .36, 1), filter .25s cubic-bezier(.22, .61, .36, 1);
        @media (hover: hover) {
          .tile:hover & {
            filter: grayscale(0)
          }
        }
      }
      & > section.content {
        position: absolute;
        bottom: 0;
        z-index: 0;
        width: 100%;
        padding: 0 36px 36px;
        background-image: radial-gradient(farthest-corner at 0% 100%, oklch(0 0 0 / 0.9) 22%, transparent 70%);
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 0;
          width: 100%;
          height: 250%;
          background: linear-gradient(to top, oklch(0 0 0 / 0.8), oklch(0 0 0 / 0.77) 12.83%, oklch(0 0 0 / 0.72) 24%, oklch(0 0 0 / 0.67) 33.77%, oklch(0 0 0 / 0.59) 42.37%, oklch(0 0 0 / 0.51) 50.07%, oklch(0 0 0 / 0.42) 57.13%, oklch(0 0 0 / 0.33) 63.78%, oklch(0 0 0 / 0.25) 70.3%, oklch(0 0 0 / 0.17) 76.92%, oklch(0 0 0 / 0.1) 83.91%, oklch(0 0 0 / 0.04) 91.52%, oklch(0 0 0 / 0));
          background-size: 100.1% 100.1%
        }
        & h2.headline {
          color: var(--color-label-primary);
          & a::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 1
          }
        }
      }
    }
    & > :first-child { grid-area: a }
    & > :nth-child(2) { grid-area: b }
    & > :nth-child(3) { grid-area: c }
    & > :nth-child(4) { grid-area: d }
    & > :nth-child(5) { grid-area: e }
  }
  @media screen and (max-width: 672px) {
    section.tile-mosaic {
      grid-template-columns: 5fr 5fr;
      grid-template-areas: "a a" "b b" "c c" "d d" "e e";
      gap: 24px
    }
  }
  @media screen and (min-width: 672px) {
    section.tile-mosaic {
      grid-template-columns: 5fr 5fr;
      grid-template-areas: "a a" "b c" "d e";
      gap: 36px
    }
  }
</style>