---
interface Props {
  /** La variante visual del botón. */
  variant?: 'platterless' | 'platted';
  /** El color del botón. */
  action?: 'default' | 'neutral';
  /** El tipo de etiqueta del ancla. */
  label?: 'text-and-icon' | 'text-only' | 'icon-only';
  /** El tamaño del ancla. */
  size?: 'small' | 'medium' | 'large';
  /** El ancho del botón.*/
  wide?: 'fit' | 'fill';
  /** Si el botón debe estar deshabilitado. */
  disabled?: boolean;
  /** Clases CSS adicionales para personalizar. */
  class?: string;
  /** Atributos adicionales como `onclick`, `id`, `data-*`, etc. */
  [key: string]: any;
}

// 1. Desestructurar props con valores por defecto.
const {
  variant = 'text',
  action = 'default',
  label = 'text-and-icon',
  size = 'medium',
  wide = 'fit',
  disabled = false,
  class: userClass,
  href,
  ...rest
} = Astro.props;

// 2. Atributos finales para el elemento (incluye el resto de props).
// Sólo añadir `role` cuando se haya pasado como prop.
const attrs: Record<string, any> = {
  ...rest,
  disabled,
  'aria-disabled': disabled ? 'true' : undefined,
  tabindex: disabled ? -1 : undefined,
};

// 3. Construir la lista de clases dinámicamente y la clase final.
const classList = [
  'anchor',
  `variant-${variant}`,
  `action-${action}`,
  `label-${label}`,
  `size-${size}`,
  `wide-${wide}`,
  userClass,
].filter(Boolean);

const finalClass = classList.join(' ');

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---
<a href={href} class={finalClass} aria-current={isActive ? 'page' : undefined} {...attrs}>
  <slot name="iconLeft" />
  <slot />
  <slot name="iconRight" />
</a>
<style>
  @layer components {
    :is(a, a[role="button"]).anchor {
      height: fit-content;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-family-sans);
      font-weight: var(--font-weight-regular);
      text-align: center;
      backface-visibility: hidden;
      -webkit-font-smoothing: subpixel-antialiased;
      touch-action: manipulation;
      will-change: color, background-color, border-radius, transform;
      transition: color 150ms, background-color 150ms, border-radius 150ms, transform 150ms;
      &[aria-current="page"] {
        border-radius: 32px;
        color: var(--label-primary-active, oklch(0.99 0 0));
        background-color: var(--anchor-bg-active, oklch(0.22 0 0));
        cursor: default;
        pointer-events: none
      }
      @media (hover: hover) {
        &:hover {
          border-radius: 4px;
          transform: scale(1.03)
        }
      }
      &:active {
        border-radius: 4px;
        transform: scale(1.03)
      }
      &:focus-visible {
        outline: 2px solid var(--ring)
      }
      /* Variants */
      &.variant-platterless {
        
      }
      &.variant-platted {
        border-radius: 8px;
        background: var(--fill-tertiary);
        @media (hover: hover) {
          &:hover {
            --anchor-hover: okchl(1 1 1 / 0.08);
            background-color: var(--anchor-hover)
          }
        }
      }
      /* Actions */
      &.action-default {
        color: var(--label-primary-controls);
        fill: var(--label-primary-controls)
      }
      &.action-neutral {
        color: var(--label-);
        fill: var(--label-)
      }
      /* Sizes */
      &.size-small {
        font-size: var(--font-size-12);
        &.label-text-and-icon {
          
        }
        &.label-text-only {
          
        }
        &.label-icon-only {
          
        }
      }
      &.size-medium {
        font-size: var(--font-size-14);
        &.label-text-and-icon {
          padding: 10px 16px;
          gap: 5px
        }
        &.label-text-only {
          padding: 10px 14px
        }
        &.label-icon-only {
          padding: 7px
        }
      }
      &.size-large {
        font-size: var(--font-size-16);
        &.label-text-and-icon {
          padding: 12px 20px;
          gap: 6px
        }
        &.label-text-only {
          padding: 12px 16px
        }
        &.label-icon-only {
          padding: 16px
        }
      }
      /* Widths */
      &.wide-fit {
        width: fit-content
      }
      &.wide-fill {
        width: 100%
      }
      &[role="button"] {
        border-radius: 32px;
        &[aria-pressed="true"] {
          
        }
      }
    }
  }
</style>